# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
.testvenv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/

# Debug
/debug_outputs/
/notebooks/

# Data
datasets/
data/raw/
data/interim/
data/external/
*.dcm
*.png
*.jpg
*.jpeg
*.npy
*.npz

# Models
/src/plots/
/src/models/
*.pt
*.pth
*.ckpt
*.h5

# Logs / outputs
runs/
outputs/
logs/
wandb/
mlruns/*.keras
*.npy
data/preprocessed/
reports/
plots/
